<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
    <extension id="OntologyGraphTab" point="org.protege.editor.core.application.WorkspaceTab">
        <label value="VAIMEE Graph"/>
        <class value="com.vaimee.protege.graph.OntologyGraphTab"/>
        <index value="V"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
</plugin>
